@import '../../styles/global/mixins';
@import '../../styles/global/variables';


.technology {
    grid-column: flush-start / flush-end;
    border-top: 1px solid #b9b9fc;
    padding: 10rem 0;

    &__grid{
        display: grid;
        grid-row-gap: 2rem;
        grid-template-columns: auto auto;
    }
    
    .container {

        @include breakpoint(md){
            grid-template-columns: 1fr;
        }

        

        .col-1 {
            margin-bottom: 5rem;

            @include breakpoint(md){
                padding: 2rem 0;
            }            
        }
        
        .col-2 {
            margin-bottom: 5rem;
            @include breakpoint(md){
                padding: 2rem 0;
            }
        }

        i {
            font-size: 10rem;
            padding: 0 1rem;
            transition: all 0.1s ease-in-out;
        }
        i:hover {
            z-index: 1;
            transform: scale(1.1);
        }

        .heading-secondary {
            margin-bottom: 4rem;
        }

        img {
            width: 10rem;
            margin: 0 1rem -10px;
        }
    }
    
}



